@font-face {
  font-display: swap;
  font-family: domine;
  font-style: normal;
  src: url('./fonts/domine.ttf') format('woff');
}

@font-face {
  font-display: swap;
  font-family: nunito;
  font-style: normal;
  src: url('./fonts/nunito.ttf') format('woff');
}
