.info .content {
    margin: auto;
  }
  
  .info .content p {
    margin-bottom: calc(var(--spacing) * 2);
  }
  
  .info .kicker {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: bold;
  }
  
  .info .image {
    display: flex;
  }
  
  .info .image img {
    margin: auto;
    transform: rotateZ(2deg);
  }
  
  .info-right .image img {
    transform: rotateZ(-2deg);
  }
  
  .info-right .content {
    order: 2;
  }