/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;

  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Breytur sem skal nota */

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  --max-width: 1200px;

  --color-primary: #f0f0f8;

  --color-header: #fff;
  --color-text: #000;
  --color-border: #ccc;

  /* Letur stillingar */
  --font-base-body-px: 13.5px;
  --font-base-size: 1rem;
  --font-family-base: 'Nunito', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Domine', Georgia, serif;

  --columns: 12;
  --gutter: 30px;
  --offset: 20px; 
}

/* Leturgerðir */

@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/domine.ttf) format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/nunito.ttf) format('woff');
}

/* Almennt */

body {
  color: var(--color-text);
  font-size: var(--font-base-body-px);
  line-height: 1.5;
  font-family: var(--font-family-base);
}

h1, h2, h3 {
  font-family: var(--font-family-heading);
}

img {
  width: 100%;
}

.button {
  display: inline-block;

  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: calc(var(--spacing) / 2) calc(var(--spacing));

  font-family: var(--font-family-base);
  text-decoration: none;

  color: var(--color-text);
  background-color: var(--color-primary);
}

.button-secondary {
  border: none;
  color: inherit;
  background-color: transparent;
}

/* Layout */

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: calc(var(--spacing) * 4);
}

main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--gutter);

  margin: 0 auto;

  min-height: 100vh;
  max-width: var(--max-width);
  width: calc(100% - (2 * var(--offset)));
}

.info-boxes {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: var(--spacing);
}

/* Header */

header {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  color: #ffffff;

  background-color: skyblue;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-image: url(./myndir/header.jpg);
}

header .content {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);

  margin: auto;

  font-family: var(--font-family-heading);
  font-size: calc(var(--font-base-size) * 1.5);
  text-align: center;
}

header h1 {
  font-size: 4rem;
}

header span {
  font-size: 2rem;
}

header .protection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  max-height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
}

/* Info blokk */

.info {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  min-width: 100%;
}

.info .content {
  width: 100%;
  margin: auto;
}

.info .content p {
  margin-bottom: calc(var(--spacing) * 2);
}

.info .kicker {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
}

.info .image {
  width: 100%;
}

.info .image img {
  transform: rotateZ(2deg);
}

.info-right .image img {
  transform: rotateZ(-2deg);
}


.info-right {
  display: grid;
  grid-row: -1;
}


/* Examples */

.examples h2 {
  margin-bottom: var(--spacing);
}

/* Cards */

.cards {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: var(--spacing);
}

.card {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.card > .image {
  order: -1;
  height: 300px;
}

.card > .image img {
  object-fit: cover;
  object-position: 50% 50%;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  width: 100%;
  height: 300px;
}

.card > .content {  
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing);

  padding: 0.5rem;
  border: 1px solid #999999;
  border-top: 0;
}

.card > .content > p {
  flex: 1;
}

footer {
  padding: var(--spacing);
  color: var(--color-text);
  background-color: var(--color-primary);
  text-align: center;
}

@media (min-width: 600px){
  .info {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: var(--gutter);
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: var(--gutter);
  }

  html body div.wrapper main#lorem-ipsum div.info-boxes section.info div.content {
    grid-column: 1 / span 6;
  }

  html body div.wrapper main#lorem-ipsum div.info-boxes section.info div.image {
    grid-column: 7 / span 6;
  }

  html body div.wrapper main#lorem-ipsum div.info-boxes section.info.info-right div.image {
    grid-column: 1 / span 6;
  }

  html body div.wrapper main#lorem-ipsum div.info-boxes section.info.info-right div.content {
    grid-column: 7 / span 6;
    order: 1;
  }

  html body div.wrapper main#lorem-ipsum section.examples div.cards section.card{
    grid-column: span 6;
  }
}

@media (min-width: 1000px) {

  html body div.wrapper main#lorem-ipsum div.info-boxes section.info div.content {
    grid-column: 2 / span 4;
  }

  html body div.wrapper main#lorem-ipsum div.info-boxes section.info.info-right div.content {
    grid-column: 8 / span 4;
    order: 1;
  }

}