/*
Setjum inn „reset“ sem fjarlægir margin og padding af öllu
Þessu má ekki breyta
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
  }
  
  /*
  Reiknum stærð á öllum boxum sem border-box.
  Þessu má breyta eða fjarlægja.
  */
  html {
    box-sizing: border-box;
  }
  
  /* og látum erfast á allt */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  
  /* Uppsetning á síðu—layout */
  .content {
    /* Lætur börn .content raða sér með _flexbox_ */
    display: flex;
    /* röðun sé í dálkaröð (niður) */
    flex-direction: column;
    padding-left: 6em;
    max-width: 1200px;
  }
  
  .content > header {
    width: 100%;
    height: 100%;
    background-color: ;
  }

  header {
    background-color: #00bfff;
    font-weight: bold;
    margin-bottom: 1em;
  }

  strong {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1rem;
  }

  header h1 {
    margin: 0 auto;
    padding: 0.5em 3em;
  }

  .content > nav {
    margin-bottom: 1em;
    max-width: 1200px;
  }
  
  .content > nav > ul{
    display: flex;
    flex-direction: row;
    gap: 2em;
    list-style: none;
    }

  nav > ul > li > a {
    text-decoration: none;
    color: inherit;
    font-size: 1em;
  }

 pre {
    max-width: 1200px;
    padding-left: 3em;
 }

 .bot-footer {
    display: flex;
    bottom: 0;
    background-color: #00bfff;
    width: 100%;
    padding-left: 6em;
    color: inherit;
 }
  a #wikipedia {
    color: inherit;
    white-space: pre;
  }


  .innerText{
    font-size: 1em;
  }

  p {
    font-size: 1em;
    margin: 1em 0;
  }
  
  .content > #efni1 {
    /* Lætur <main> taka allt auka pláss sem er í boði */
    flex: 1;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 1em;
  }

  .main > #efni {
    flex: 1;
    width: 100%;
    height: 100%;
    max-width: 1200px;
  }

  legend {
    font-size: 24px;
    margin-left: 16px;
  }

  fieldset {
    border-color:#00bfff;
    margin: 1em 0;
  }

  fieldset > div {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }

  fieldset > div > input {
    max-width: 250px;
  }

  #forritunarmal_kunnatta {
    max-width: 200px;
  }

  #hvers_vegna {
    max-width: 250px;
  }
  #annad {
    max-width: 300px;
    max-height: 150px;
  }
  .bot-footer > p:nth-child(1) > a:nth-child(1) {
    color: inherit;
  }

  label {
    margin: 0.25em;
  }

  #forritunarmal_laera {
    margin-left: 20px;
  }

  button {
    border-radius: 6px;
    border-color: #00bfff;
    background-color: #afebff;
    font-size: 1rem;
    padding: 0.25em;
    margin-left: 1em;
  }
  #efni > p {
    width: 100%;
    height: 100%;
    max-width: 1200px;
  }

  .bott-footer {
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: #00bfff;
    width: 100%;
    padding-left: 6em;
  }

  .content > main {
    flex: 1;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  main#efni > table > tbody > tr {
    padding: 0.25em 0;
  }

  main#efni > table > tbody > tr > td {
  padding: 0.25em 0;
  }

  html body div.content main#efni table tbody tr td a {
    text-decoration: none;
    color: inherit;
  }

 .samband {
  margin-left: 1em;
 }

  html body div.content main#efni p a {
    text-decoration: none;
    color: inherit;
  }

  main#efni > table {
    max-width: 700px;
  }

  tr:nth-child(even) {
  background-color: #afebff;
  }

  .content > section:nth-child(5) > ol:nth-child(3) {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin-bottom: 1em;
  }

  small {
    display: flex;
    padding-bottom: 1em;
  }
  
  .bottom-footer {
    padding: 1em;
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: #00bfff;
    width: 100%;
  }
  
  /* almennar skilgreiningar */
  
  h2 {
    max-width: 1200px;
  }

  html body div.content section p a {
    color: inherit;
  }

  html body div.content section main#efni small a#wikipedia {
    color: inherit;
  }
  

  .innerText {
    text-decoration: none;
  }
  
  a {
    /* TODO setja almennar skilgreinar fyrir tengla */
  }
  
  /* nav — valmynd */
  
  nav ul {
    /* TODO */
  }
  
  nav ul li {
    /* TODO */
  }
  
  /* TODO */
  
  
  /* main — meginmál */
  
  /* TODO */
  
  /* töflur */
  
  table {
    border-spacing: 0;
    text-align: left;
  }
  
  /* TODO */
  
  /* form */
  
  /* TODO */
  