.button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  color: var(--color-text);
  display: inline-block;
  font-family: var(--font-family-base);
  padding: calc(var(--spacing) / 2) calc(var(--spacing));
  text-decoration: none;
}

.button-secondary {
  background-color: transparent;
  border: 0;
  color: inherit;
}
