/*
Setjum inn „reset“ sem fjarlægir margin og padding af öllu
Þessu má ekki breyta
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
  }
  
 

  /*
  Reiknum stærð á öllum boxum sem border-box.
  Þessu má breyta eða fjarlægja.
  */
  html {
    box-sizing: border-box;
  }
  
  /* og látum erfast á allt */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  
  /* Uppsetning á síðu—layout */
  .content {

    /* Lætur börn .content raða sér með _flexbox_ */
    display: flex;
    /* röðun sé í dálkaröð (niður) */
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 100%;
  }

  
  header {
    background-color: #00bfff;
    font-weight: bold;
  }

  header h1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5em 3em;
    
  }


  .content > nav > ul > li > strong {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5rem;
  }

  
  .content > main {
    /* Lætur <main> taka allt auka pláss sem er í boði */
    flex: 1;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom-footer {
    margin-top: auto;
    width: 100%;
    background-color: #00bfff;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
  }

 .bot-footer {
    margin-top: auto;
    width: 100%;
    background-color: #00bfff;
    padding: 1em 3em;
    bottom: 0;
 }

  img {
    width: auto;
    height: auto;
    margin-left: 5em;
  }


.content > main > section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
.content > main > .fyrri {
    float: left;
    text-align: justify;
    display: block;
}

.seinni p, ul {
    font-size: 15px;
    margin-left: 1em;
}
  
  /* almennar skilgreiningar */
  
 h2, h3 {
    font-weight: bold;
    margin: 1em 1em 3em 0em;
  }

 
  
  a {
    text-decoration: none; 
    color: inherit;
  }
  
  .seinni a {
    text-decoration: underline;
  }

  .seinni {
    margin-left: 47em; 
  }
  
  /* nav — valmynd */
  
  nav ul {
    display: flex;
    flex-direction: row;
    margin-left: 81px;
  }
  
  nav ul li {
    list-style: none;
    padding: 1em;
  }

  nav ul li a {
    font-size: 1.5em;
  }

  p, pre {
    margin-left: 3em;
  }

  small {
    margin-left: 7em;
  }


  
  /* TODO */
  
  
  /* main — meginmál */
  
  /* TODO */
  
  /* töflur */
  
  table {
    border-spacing: 0;
  }
  
  /* TODO */
  
  /* form */
  
  /* TODO */